<!-- we do need to call our base.html template here -->
<!-- calling the template base.html file -->
<!-- 
    The link:
    https://flask.palletsprojects.com/en/2.0.x/tutorial/templates/
 -->
{% extends 'base.html' %}

{% block content %}
<h1>Welcome to Flask Framework</h1>
<!-- How can we access these parameters: x,y,z, module_name, title, and cr, or any other parameter -->
<!-- We want to display the value of the module_name -->

<!-- Jinja template: -->
<!-- 
        To embed python code into our HTML file we use Jinja templates: 
        - { and { to open a python "expression" and } and } to close this expression 
        => is used to display a value of a variable (formulas)
        
        - { and % to open a python "statement" and % and } to close this statement
        => is used to write python statements like if condition, for loop
        -->

<!-- in between the h2 tags, I want to display the module name that we are passing to the render function -->
<h2>{{ module_name }}</h2>
<h3>Python Micro Framework</h3>
<hr>
<p>Here is my first try with Flask! I do like it :-) and I hope you will like it. Just be patient!</p>
<p>the value of adding 4 to 5 is {{ 4+5 }}</p>
<p>the average of 4 to 5 is {{ (4+5)/2 }}</p>

<figure>
        <!-- Normal HTML Code -->
        <!-- <img src="../static/img/mocha_latte.jpg" alt="Mocha Latte"> -->

        <!-- 
                Based on the Flask Docs:
                To generate URLs for static files, use the special 'static' endpoint name:
                
                > Using this code: url_for('static', filename='style.css')
                > If The file has to be stored on the filesystem as static/style.css.

                We need:
                - url_for('static', filename='img/mocha_latte.jpg')
                - to print/output: "/static/img/mocha_latte.jpg"

                We can Jinja:
                - { and % => statement
                - { and { => expression
         -->
        <img src="{{url_for('static', filename='img/mocha_latte.jpg')}}" alt="Mocha Latte">
        <figcaption>
                Mocha Latte Lovely Cup
        </figcaption>
</figure>
{% endblock %}